/*=============== Mobile ========================================*/
@media (max-width: 360px) {
}

@media (max-width: 480px) {
}

@media (max-width: 640px) {
  .navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 1rem;
  }
  .list {
    display: none;
  }
  .menuNav {
    display: flex;
  }
  #navMobile {
    width: 100%;
    height: 35rem;
    padding: 1rem;
  }
  #navMobile .mobile-shop {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    flex-wrap: nowrap;
  }
  .mobile-shop .mobile-shop__list a {
    font-size: var(--font-mdPlus);
    font-weight: 700;
    color: var(--bg-secondary);
  }
}

@media (min-width: 641px) and (max-width: 768px) {
  .navMobile {
    display: none;
  }
  .menuNav {
    display: none;
  }
  .navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    flex-wrap: nowrap;
  }
  .list {
    width: 35rem;
  }
  .list-shop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  .list-shop__text a {
    color: var(--bg-black2);
    font-size: var(--font-md);
    font-weight: 500;
  }
}

/* @media (min-width: 700px) {
} */

/*=============== Tablet  ========================================*/
@media screen and (min-width: 768px) {
  .navMobile {
    display: none;
  }
  .menuNav {
    display: none;
  }
  .navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    flex-wrap: nowrap;
  }
  .list {
    width: 35rem;
  }
  .list-shop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  .list-shop__text a {
    color: var(--bg-secondary);
    font-size: var(--font-md);
    font-weight: 500;
  }
}

/*=============== Screen Laptop ===================================*/
@media screen and (min-width: 1024px) {
}

/*=============== #Option Screen  ===================================*/
@media only screen and (min-width: 1280px) {
}

/*=============== Laptop Large Screen  ===================================*/
@media only screen and (min-width: 1440px) {
}

/*=============== Laptop Xtra Large =================================*/
@media only screen and (min-width: 1920px) {
}

/* =Animation =*/
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
