/*=============== Mobile ========================================*/
@media (max-width: 360px) {
}

@media (max-width: 480px) {
}

@media (max-width: 640px) {
  .navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 1rem;
  }
  .list {
    display: none;
  }
  .menuNav {
    display: flex;
  }
  #navMobile {
    width: 100%;
    height: 35rem;
    padding: 1rem;
    position: absolute;
    z-index: 10;
  }
  #navMobile .mobile-shop {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    flex-wrap: nowrap;
  }
  .mobile-shop .mobile-shop__list a {
    font-size: var(--font-mdPlus);
    font-weight: 700;
    color: var(--bg-secondary);
  }

  .heroSection {
    min-height: 15rem;
    height: 25rem;
  }

  .heroSection-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: flex-start;
    margin-left: 15px;
  }

  .heroSection-text .text-hero {
    margin-bottom: 10px;
    font-weight: 900;
    font-size: 2.2rem;
    color: var(--bg-secondary);
  }

  .heroSection figure {
    width: 100%;
    height: 100%;
  }

  .heroSection .buy-btn {
    padding: 1rem 3rem;
    border: none;
    outline: none;
    font-size: 1.8rem;
    color: var(--bg-secondary);
  }
  .main .section-cards {
    gap: 1rem;
  }
  .card-content__title {
    font-size: 1.8rem;
    font-weight: 700;
  }
  .card-content__text {
    font-size: 1rem;
  }
  .card .card-img__figure {
    height: 25rem;
  }
  .contact-ul .contact-li a {
    font-size: 1.2rem;
  }
  .title-contact {
    font-size: 1.4rem;
    color: var(--bg-secondary);
    font-weight: 900;
    text-transform: uppercase;
  }
}

@media (min-width: 641px) and (max-width: 768px) {
  .navMobile {
    display: none;
  }
  .menuNav {
    display: none;
  }
  .navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    flex-wrap: nowrap;
  }
  .list {
    width: 35rem;
  }
  .list-shop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  .list-shop__text a {
    color: var(--bg-black2);
    font-size: var(--font-md);
    font-weight: 500;
  }
  .heroSection {
    padding: var(--padding);
    height: 35rem;
    margin: 0 auto;
  }
  .heroSection figure {
    height: 100%;
    width: 100%;
  }
}

/* @media (min-width: 700px) {
} */

/*=============== Tablet  ========================================*/
@media screen and (min-width: 768px) {
  .navMobile {
    display: none;
  }
  .menuNav {
    display: none;
  }
  .navBar {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    flex-wrap: nowrap;
  }
  .list {
    width: 35rem;
  }
  .list-shop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  .list-shop__text a {
    color: var(--bg-secondary);
    font-size: var(--font-md);
    font-weight: 500;
  }
  .heroSection {
    padding: var(--padding);
    height: 35rem;
    margin: 0 auto;
  }
  .heroSection-text {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 1.5rem;
  }
  .heroSection-text .text-hero {
    margin-bottom: 2.5rem;
    font-weight: 900;
    color: var(--bg-secondary);
    text-transform: uppercase;
    font-size: 2.2rem;
  }

  .heroSection figure {
    height: 100%;
    width: 100%;
  }
  .buy-btn {
    padding: 1.5rem 3.5rem;
    font-weight: 900;
    font-size: 1.6rem;
    color: var(--bg-secondary);
  }

  .main .section-cards {
    gap: 2rem;
  }

  .card-content__title {
    font-size: 2.2rem;
    font-weight: 700;
  }
  .card-content__text {
    font-size: 1.2rem;
  }
  .card .card-img__figure {
    height: 20rem;
  }
  .contact-ul .contact-li a {
    font-size: 1.4rem;
  }

  .title-contact {
    font-size: 1.6rem;
    color: var(--bg-secondary);
    font-weight: 900;
    text-transform: uppercase;
  }
}

/*=============== Screen Laptop ===================================*/
@media screen and (min-width: 1024px) {
  .heroSection-text {
    margin-left: 5rem;
  }
  .heroSection-text .text-hero {
    font-size: 3.4rem;
  }
}

/*=============== #Option Screen  ===================================*/
@media only screen and (min-width: 1280px) {
}

/*=============== Laptop Large Screen  ===================================*/
@media only screen and (min-width: 1440px) {
}

/*=============== Laptop Xtra Large =================================*/
@media only screen and (min-width: 1920px) {
}

/* =Animation =*/
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
